{% extends "errors/base.html" %}

{% block title %}No autorizado{% endblock %}

{% block body %}
<div class="login-screen">
    <div class="well">
        <h2>Página no encontrada (404)</h2>
        <h1 class="text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Eliseo_Salazar_%281%29.jpg">
        </h1>
        <p class="text-center">
            El es <strong>Eliseo Salazar</strong>, en el Dakar 2011 no dobló a la izquierda
            y se perdió, al igual que tu en éste momento.
        </p>
        <p class="text-center">
            <a href="{{ url_for('index')}}" class="btn btn-primary">Haz click aquí para volver al inicio.</a>
        </p>
    </div>
</div>
{% endblock %}