{% extends "errors/base.html" %}

{% block title %}No autorizado{% endblock %}

{% block body %}
<div class="login-screen">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <h2>No autorizado (403)</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="thumbnail">
                            <img src="http://i.imgur.com/a55D3wA.jpg">
                        </div>
                    </div>
                </div>
                <p class="text-center">
                    Ola ke ase? Quiere entrar o ke ase?<br>
                    No puede entrar acá, necesita permisos especiales. (Pista: Hable con el administrador).
                </p>
                <p class="text-center">
                    <a href="{{ url_for('index')}}" class="btn btn-primary">Haz click aquí para volver al inicio.</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

