{% extends "base.html" %}

{% block head %}
<meta name="csrf-token" value="{{ csrf_token() }}">
<link href="{{url_for('static', filename='feusal-login.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="login-screen">
    <div class="well">
        <h3 class="text-center">Sistema de Votaciones Online</h3>
        <div class="text-center">
            <p class="lead">Debe indicar su campus antes de ingresar.</p>
            <p class="text-info">No se puede cambiar durante el semestre.</p>
        </div>

        <div data-bind="css: { hidden: campusList().length > 0 }">
            <h4>Cargando lista de campus</h4>
        </div>


        <div class="hidden" data-bind="css: { hidden: campusList().length == 0 }">
            <div class="btn-group btn-group-vertical center-block" data-toggle="buttons" data-bind="radio: selectedCampus">
                <!-- ko foreach: campusList -->
                    <label class="btn btn-default">
                        <input type="radio" name="campus" data-bind="value: $data.value">
                        <span data-bind="text: $data.pretty"></span>
                    </label>
                <!-- /ko -->
            </div>
            <p></p>
            <button class="btn btn-primary btn-block" data-bind="click: sendCampus, enable: selectedCampus">
                Enviar Campus
            </button>
        </div>
    </small>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-debug.js" type="text/javascript">
    </script>
    <script src="{{url_for('static', filename='scripts/knockstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/login/campus-select.js')}}"></script>
{% endblock %}